@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Buradaki html, body yükseklik ayarı kalabilir, zararı yok */
html,
body {
  height: 100%;
}

/* DİKKAT: Buradaki html ve html.dark renk tanımlamalarını SİLDİK.
   Çünkü bu renkleri zaten MainLayout.tsx içinde Tailwind sınıflarıyla veriyorsun.
*/

body {
  font-family: Arial, Helvetica, sans-serif;
}